{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
    <button class="list-group-item" data-toggle="collapse"
                                                  data-target="#classes_taking">Classes you're taking 
                                                  <span class="badge">{{ user.class_set.all|length }}</span>
    </button>
        </div>
    <ul id="classes_taking" class="list-group collapse">
        {% if user.class_set.all %}
        {% for klass in user.class_set.all %}
        <a class="list-group-item" href={% url 'help_plz:class' klass.pk %}>{{ klass }}</a>
        {% endfor %}
        {% else %}
        <li class="list-group-item"> You aren't taking any classes</li>
        {% endif %}
    </ul>   
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
    <button type="button" class="list-group-item" data-toggle="collapse"
                                                  data-target="#classes_tutoring">Classes you're tutoring
                                                  <span class="badge">{{ user.tutoring_set.all|length }}</span>
    </button>
        </div>
    <ul id="classes_tutoring" class="list-group collapse">
        {% if user.tutoring_set.all %}
        {% for klass in user.tutoring_set.all %}
        <a class="list-group-item" href={% url 'help_plz:class' klass.pk %}>{{ klass }}</a>
        {% endfor %}
        {% else %}
        <li class="list-group-item"> You aren't tutoring any classes</li>
        {% endif %}
    </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
    <button type="button" class="list-group-item" data-toggle="collapse"
                                                  data-target="#classes_teaching">Classes you're teaching
                                                  <span class="badge">{{ user.teaching_set.all|length }}</span>
    </button>
    </div>
    <ul id="classes_teaching" class="list-group collapse">
        {% if user.teaching_set.all %}
        {% for klass in user.teaching_set.all %}
        <a class="list-group-item" href={% url 'help_plz:class' klass.pk %}>{{ klass }}</a>
        {% endfor %}
        {% else %}
        <li class="list-group-item"> You aren't teaching any classes</li>
        {% endif %}
    </ul>
    </div>
    </div>
    <div class="col-md-6">
        {% if recent_requests|length %}
        <h4> Recent requests </h4>
        <ul class="list-group">
        {% for request in recent_requests %}
            <a class="list-group-item" href="{% url 'help_plz:class' request.klass.pk %}#{{request.pk}}">{{request }}</a>
        {% endfor %}.
        </ul>
        {% else %}
        <h3 class="text-center text-info"> No recent requests </h3>
        {% endif %}
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join_class_modal">
    Join Class
</button>

<!-- Modal -->
<div class="modal fade" id="join_class_modal" tabindex="-1" role="dialog" aria-labelledby="join_class_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="join_class_modal_label">Join Class</h4>
            </div>
            <div class="modal-body">
                <form id="join_class_form" action="{% url 'help_plz:join_class' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="join_name">Name of class</label>
                        <input type="text" name="join_name"
                        class="form-control" id="join_name" >
                    </div>
                    <div class="form-group">
                    <label for="join_role"> Join class as a</label>
                    <select id="join_role" name="join_role" selected="" class="form-control">
                        <option>Student</option>
                        <option>Tutor</option>
                        <option>Teacher</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="join_password">Password</label>
                        <input type="text" name="join_password"
                        class="form-control" id="join_password" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    onclick="$('#join_class_form').submit()">Join</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_class_modal">
    Create Class
</button>

<!-- Modal -->
<div class="modal fade" id="create_class_modal" tabindex="-1" role="dialog" aria-labelledby="create_class_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="create_class_modal_label">Join Class</h4>
            </div>
            <div class="modal-body">
                <form id="create_class_form" action="{% url 'help_plz:create_class' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="create_class_name">Name of class</label>
                        <input type="text" name="create_class_name"
                        class="form-control" id="create_class_name" />
                    </div>
                   
                    <div class="form-group">
                        <label for="create_student_password">Student Password</label>
                        <input type="text" name="create_student_password" class="form-control"
                        id="create_student_password" >
                    </div>
                    <div class="form-group">
                        <label for="create_tutor_password">Tutor Password</label>
                        <input type="text" name="create_tutor_password" class="form-control"
                        id="create_tutor_password" >
                    </div>
                    <div class="form-group">
                        <label for="create_teacher_password">Teacher Password</label>
                        <input type="text" name="create_teacher_password" class="form-control"
                        id="create_teacher_password" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    onclick="$('#create_class_form').submit()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
